html {
    background-color: #FFF8F2;
    color: #593324;
}

body {
    font-family: "Open Sans", sans-serif;
    max-width: 40rem;
    margin: 10rem auto;
    font-size: 0.9rem;
    line-height: 1.75;
}

a:link    { color: #384A87; }
a:visited { color: #59314E; }

sup a { text-decoration: none; }

h1,h2,h3 {
    font-family: "Abril Fatface", cursive;
    font-weight: normal;
}

h2 {
    font-size: 4rem;
    line-height: 0.6;
    text-indent: -0.3rem;
}

h1 :link, h2 :link, h3 :link {
    text-decoration: none;
}

h4,h5,h6 {
    text-transform: uppercase;
    font-weight: normal;
}

h4 {
    font-size: 1.5rem;
    margin: 1.5rem 0 0;
}

blockquote {
    border-left: 0.2rem solid #BE8B6A;
    margin-left: 0;
    padding: 0.1rem 0 0.1rem 0.8rem;
}

.footnotes {
    font-size: 0.8rem;
}
.footnotes::before {
    content: "";
    display: block;
    text-align: center;
    margin: 2rem auto;
    width: 40%;
    border-top: 1px solid #BE8B6A;
}
.footnotes li {
    padding-bottom: 0.5rem;
}