<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Lato:900,900italic|Merriweather:700italic,700,400italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <link rel="alternate" type="application/atom+xml" href="/atom.xml"/>
    
    <title> {{ site.title }} | {{ page.title }}</title>
  </head>
  <body>
    <div class="pure-g root">
      <div class="sidebar-container pure-u-1 pure-u-md-1-4">
        <section class="sidebar">
          <h1><a href="/">{{site.title}}</a></h1>
          <p class="byline">By <strong>Nicholas Husher</strong></p>

          <nav>
            <ul>
              <li><a href="/colophon">Colophon</a></li>
<!--               <li><a href="/archive">Back Issues</a></li> -->
              <li><a href="/atom.xml">Atom Feed</a></li>
              <li><a href="http://twitter.com/teslanick">Twitter</a></li>
          </ul>
          </nav>

        </section>
      </div>
      <div class="main-content-container pure-u-1 pure-u-md-3-4">
        <section class="main-content">
          {{ content }}
        </section>
      </div>
    </div>
    <footer>
      <p class="copyright">
        Copyright <span class="c">&copy;</span>2014 Nicholas Husher
      </p>
    </footer>
  </body>
</html>
