---
layout: default
---

{% if page.category == "linked-list" %}
<article class="link">
    {% if page.external_url %}
    <h4><a href="{{post.external_url}}">
        {% if page.kerned_title %}
            {{ page.kerned_title }}
        {% else %}
            {{page.title}}
        {% endif %}
    </a></h4>
    {% else %}
    <h4>
        {% if page.kerned_title %}
            {{ page.kerned_title }}
        {% else %}
            {{page.title}}
        {% endif %}
    </h4>
    {% endif %}
    {{ content }}
</article>
{% else %}

<article>
  <h2>{% if page.kerned_title %}{{page.kerned_title}}{% else %}{{page.title}}{% endif %}</h2>
  {{ content }}
</article>

{% endif %}